*
!Dockerfile
!container/
!container/entrypoint.sh
!container/defaults/
!container/defaults/labwc.xml
!container/defaults/startwm_wayland.sh
!container/patches/
!container/patches/selkies-empty-file-transfers.py
!container/patches/selkies-host-resolution.py
